{% if site.google_analytics %}
<!-- Google Analytics -->
{% unless site.gtag %}
<div id="bj-ganalytics-deprecated-msg" style="position: fixed; background: #b90404; bottom: 0; width: 100%; z-index: 10000; color: #f0f0f0; text-align: center; padding: 0.5rem;">
  <button id="bj-ganalytics-deprecated-close" type="button" title="Close" aria-label="Close Google Analytics deprecation message" style="position: absolute; right: 5px; top: 0; font-size: 1.5em; line-height: 1; cursor: pointer; color: inherit; background: transparent; border: 0; padding: 0;">&times;</button>
  <div style="max-width: 800px; margin: auto; font-size: 1.1em;">
    This website is using outdated Google Analytics
    <details style="font-size: 0.8em;">
      <summary>More info</summary>
      As of July 2023, Google's Universal Analytics is going away and being replaced by Google Analytics 4. This website is still using the old Universal Analytics. In order to remove this message, the website owner must remove the <code>google_analytics</code> property in the website's config file, and optionally replace it with the new <code>gtag</code> property.
    </details>
  </div>
</div>
<script>
  document.getElementById('bj-ganalytics-deprecated-close').addEventListener('click', function () {
    document.getElementById('bj-ganalytics-deprecated-msg').remove();
  });
</script>
{% endunless %}
<script>
  (function (globalContext, documentContext, tagName, sourceUrl, analyticsName) {
    globalContext.GoogleAnalyticsObject = analyticsName;
    globalContext[analyticsName] = globalContext[analyticsName] || function () {
      globalContext[analyticsName].q = globalContext[analyticsName].q || [];
      globalContext[analyticsName].q.push(arguments);
    };
    globalContext[analyticsName].l = Date.now();

    const scriptElement = documentContext.createElement(tagName);
    const firstScript = documentContext.getElementsByTagName(tagName)[0];
    scriptElement.async = true;
    scriptElement.src = sourceUrl;
    firstScript.parentNode.insertBefore(scriptElement, firstScript);
  })(globalThis, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endif %}
