/* Pygments syntax highlighting - Dark theme */
/* Based on GitHub Dark dimmed theme */

[data-bs-theme="dark"] {
    .highlight .c { color: #8b949e; font-style: italic } /* Comment */
    .highlight .err { color: #f85149; background-color: #6e1a21 } /* Error */
    .highlight .k { color: #ff7b72; font-weight: bold } /* Keyword */
    .highlight .o { color: #ff7b72; font-weight: bold } /* Operator */
    .highlight .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
    .highlight .cp { color: #8b949e; font-weight: bold } /* Comment.Preproc */
    .highlight .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
    .highlight .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
    .highlight .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
    .highlight .gd .x { color: #ffa198; background-color: #67060c } /* Generic.Deleted.Specific */
    .highlight .ge { font-style: italic } /* Generic.Emph */
    .highlight .gr { color: #f85149 } /* Generic.Error */
    .highlight .gh { color: #8b949e } /* Generic.Heading */
    .highlight .gi { color: #56d364; background-color: #0f2d1b } /* Generic.Inserted */
    .highlight .gi .x { color: #56d364; background-color: #0f5323 } /* Generic.Inserted.Specific */
    .highlight .go { color: #8b949e } /* Generic.Output */
    .highlight .gp { color: #7d8590 } /* Generic.Prompt */
    .highlight .gs { font-weight: bold } /* Generic.Strong */
    .highlight .gu { color: #8b949e } /* Generic.Subheading */
    .highlight .gt { color: #f85149 } /* Generic.Traceback */
    .highlight .kc { color: #ff7b72; font-weight: bold } /* Keyword.Constant */
    .highlight .kd { color: #ff7b72; font-weight: bold } /* Keyword.Declaration */
    .highlight .kp { color: #ff7b72; font-weight: bold } /* Keyword.Pseudo */
    .highlight .kr { color: #ff7b72; font-weight: bold } /* Keyword.Reserved */
    .highlight .kt { color: #ff7b72; font-weight: bold } /* Keyword.Type */
    .highlight .m { color: #a5d6ff } /* Literal.Number */
    .highlight .s { color: #a5d6ff } /* Literal.String */
    .highlight .na { color: #79c0ff } /* Name.Attribute */
    .highlight .nb { color: #d2a8ff } /* Name.Builtin */
    .highlight .nc { color: #f0883e; font-weight: bold } /* Name.Class */
    .highlight .no { color: #79c0ff } /* Name.Constant */
    .highlight .ni { color: #ffa657 } /* Name.Entity */
    .highlight .ne { color: #f0883e; font-weight: bold } /* Name.Exception */
    .highlight .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
    .highlight .nn { color: #f0883e } /* Name.Namespace */
    .highlight .nt { color: #7ee787 } /* Name.Tag */
    .highlight .nv { color: #79c0ff } /* Name.Variable */
    .highlight .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
    .highlight .w { color: #6e7681 } /* Text.Whitespace */
    .highlight .mf { color: #a5d6ff } /* Literal.Number.Float */
    .highlight .mh { color: #a5d6ff } /* Literal.Number.Hex */
    .highlight .mi { color: #a5d6ff } /* Literal.Number.Integer */
    .highlight .mo { color: #a5d6ff } /* Literal.Number.Oct */
    .highlight .sb { color: #a5d6ff } /* Literal.String.Backtick */
    .highlight .sc { color: #a5d6ff } /* Literal.String.Char */
    .highlight .sd { color: #a5d6ff } /* Literal.String.Doc */
    .highlight .s2 { color: #a5d6ff } /* Literal.String.Double */
    .highlight .se { color: #a5d6ff } /* Literal.String.Escape */
    .highlight .sh { color: #a5d6ff } /* Literal.String.Heredoc */
    .highlight .si { color: #a5d6ff } /* Literal.String.Interpol */
    .highlight .sx { color: #a5d6ff } /* Literal.String.Other */
    .highlight .sr { color: #7ee787 } /* Literal.String.Regex */
    .highlight .s1 { color: #a5d6ff } /* Literal.String.Single */
    .highlight .ss { color: #ffa657 } /* Literal.String.Symbol */
    .highlight .bp { color: #d2a8ff } /* Name.Builtin.Pseudo */
    .highlight .vc { color: #79c0ff } /* Name.Variable.Class */
    .highlight .vg { color: #79c0ff } /* Name.Variable.Global */
    .highlight .vi { color: #79c0ff } /* Name.Variable.Instance */
    .highlight .il { color: #a5d6ff } /* Literal.Number.Integer.Long */
}
