---
layout: base
---

{% include header.html type="post" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% assign post_badge_split = page.post-badge-style | default: site.post-badge-style | default: 'shields:for-the-badge' | split: ':' %}
            {% assign post_badge_source = post_badge_split[0] %}
            {% assign post_badge_style = post_badge_split[1] %}

            {% if post_badge_source != 'shields' and post_badge_source != 'ghbtns' %}
              {% assign post_badge_source = 'shields' %}
            {% endif %}

            {% if post_badge_source == 'ghbtns' %}
              {% if post_badge_style != 'large' and post_badge_style != 'small' %}
                {% assign post_badge_style = 'large' %}
              {% endif %}
            {% elsif post_badge_source == 'shields' %}
              {% if post_badge_style != 'for-the-badge' and post_badge_style != 'plastic' and post_badge_style != 'flat' and post_badge_style != 'flat-square' and post_badge_style != 'social' %}
                {% assign post_badge_style = 'for-the-badge' %}
              {% endif %}
            {% endif %}

            {% if post_badge_source == 'ghbtns && post_badge_style == 'large' %}
              {% assign ghbtns_size = 'large' %}
              {% assign ghbtns_height = 30 %}
              {% assign ghbtns_width_1 = 170 %}
              {% assign ghbtns_width_2 = 270 %}
            {% elsif post_badge_source == 'ghbtns' %}
              {% assign ghbtns_size = 'small' %}
              {% assign ghbtns_height = 20 %}
              {% assign ghbtns_width_1 = 120 %}
              {% assign ghbtns_width_2 = 220 %}
            {% endif %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  {% if post_badge_source == 'ghbtns %}
                    <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true&size={{ ghbtns_size }}" width="{{ ghbtns_width_1 }}px" height="{{ ghbtns_height }}px" title="GitHub Repo stars"></iframe>
                  {% elsif post_badge_source == 'shields' %}
                    <a class="github-badge" href="https://github.com/{{ gh_user }}/{{ gh_repo }}" target="_blank" rel="noopener">
                      <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ gh_user }}/{{ gh_repo }}?style={{ post_badge_style }}&logo=github">
                    </a>
                  {% endif %}
                {% when 'watch'%}
                  {% if post_badge_source == 'ghbtns %}
                    <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true&size={{ ghbtns_size }}" width="{{ ghbtns_width_1 }}px" height="{{ ghbtns_height }}px" title="GitHub watchers"></iframe>
                  {% elsif post_badge_source == 'shields' %}
                    <a class="github-badge" href="https://github.com/{{ gh_user }}/{{ gh_repo }}/watchers" target="_blank" rel="noopener">
                      <img alt="GitHub watchers" src="https://img.shields.io/github/watchers/{{ gh_user }}/{{ gh_repo }}?style={{ post_badge_style }}&logo=github">
                    </a>
                  {% endif %}
                {% when 'fork'%}
                  {% if post_badge_source == 'ghbtns %}
                    <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true&size={{ ghbtns_size }}" width="{{ ghbtns_width_1 }}px" height="{{ ghbtns_height }}px" title="GitHub forks"></iframe>
                  {% elsif post_badge_source == 'shields' %}
                    <a class="github-badge" href="https://github.com/{{ gh_user }}/{{ gh_repo }}/fork" target="_blank" rel="noopener">
                      <img alt="GitHub forks" src="https://img.shields.io/github/forks/{{ gh_user }}/{{ gh_repo }}?style={{ post_badge_style }}&logo=github">
                    </a>
                  {% endif %}
                {% when 'follow'%}
                  {% if post_badge_source == 'ghbtns %}
                    <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true&size={{ ghbtns_size }}" width="{{ ghbtns_width_2 }}px" height="{{ ghbtns_height }}px" title="GitHub followers"></iframe>
                  {% elsif post_badge_source == 'shields' %}
                    <a class="github-badge" href="https://github.com/{{ gh_user }}" target="_blank" rel="noopener">
                      <img alt="GitHub followers" src="https://img.shields.io/github/followers/{{ gh_user }}?style={{ post_badge_style }}&logo=github">
                    </a>
                  {% endif %}
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="blog-post">
        {{ content }}
      </div>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <span>Tags:</span>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title | strip_html | xml_escape}}">
            <i class="fas fa-arrow-left" alt="Previous Post"></i>
            <span class="d-none d-sm-inline-block">Previous Post</span>
          </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title | strip_html | xml_escape}}">
            <span class="d-none d-sm-inline-block">Next Post</span>
            <i class="fas fa-arrow-right" alt="Next Post"></i>
          </a>
        </li>
        {% endif %}
      </ul>
      {% include comments.html %}
    </div>
  </div>
</main>
